header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px;
}

header > div {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

header span {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

header .divCarrito {
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
}

header .divCarrito:hover {
  cursor: pointer;
}

.containerSlogan {
  display: flex;
  align-items: center;
}

.containerSlogan p {
  margin: 0;
  font-weight: bold;
  font-size: 23px;
  color: #005b9b;
}

.imagenCarrito {
  width: 35px;
  height: 35px;
}

.boxOpciones,
.containerOpciones button {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  display: flex;
  padding: 5px 10px;
  gap: 5px;
}

.boxOpciones:hover,
.containerOpciones button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.containerOpciones {
  display: flex;
  gap: 5px;
}

.containerModal {
  display: grid;
  grid-template-columns: 40% 60%;
}

.containerModal img {
  width: 280px;
}

.opcionesModal h3 {
  font-size: 18px;
  font-weight: bold;
}

.resaltar,
.resaltar:hover {
  background-color: #0c6dfd !important;
  color: #ffffff;
}

.carritoVacio {
  text-align: center;
}

.carritoVacio img {
  width: 100%;
}

.tablaCarrito img {
  width: 100px;
}

.catalogoGrid {
  display: flex;
}

.containerLayout {
  padding-top: 100px;
}

.toastCarrito {
  position: absolute;
  right: 10px;
}
